* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #ddd6d6;
}

#product-grid {
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.product-item {
  background: #ffffff;
  border: #470f0f 3px solid;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(53, 51, 50);
  position: relative;
}
body {
  padding: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  margin-right: 10px;
}
#button-box {
  display: flex;
}
a:link,
a:visited,
input[type="submit"] {
  color: white;
  border: 1px solid black;
  text-align: center;
  text-decoration: none;
  background: #424547;
  font-size: 1rem;
  text-decoration: none;
  margin-right: 20px;
  padding: 0.25rem 0.5rem;
}

a:hover,
a:active,
input[type="submit"]:hover {
  background-color: rgb(0, 0, 0);
}
input[type="checkbox"] {
  cursor: pointer;
}
#form-box {
  width: 400px;
}
.field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.line {
  width: 100%;
  height: 5px;
  background-color: black;
  margin: 20px 0 20px 0;
}
.check {
  margin: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

#error {
  display: flex;
  justify-content: center;
  color: rgb(182, 40, 40);
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.msg {
  text-decoration: underline;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  a:link,
  a:visited,
  input[type="submit"] {
    margin-right: 10px;
    padding: 0.15rem 0.4rem;
  }
  .field {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  .field input {
    size: 1.5rem;
  }
  .msg {
    width: 300px;
  }
}
